    <div class="container">

      <div class="center">

        <div class="container margin color-gray">
        
          <h1>Stupid Coach</h1>
        </div>
        <div class="container margin color-gray">
          <p>what do you want</p>
        </div>
        <div class="container color-blue">
          <form action="/answer" method="get">
          	<label>ask your question:</label>
          	<br>
          	<input type="text" name="question">
          	<input type="submit" value="ask">
          </form>

          <%= %>
          
        </div>

      </div>
      
    </div>