// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    color: red;
  }

.container{
  	margin: 0 auto;
  	max-width: 900px;
    text-align: center;
}

.center{
  text-align: center;
}

.margin{
  margin-top: 30px;
}

.color-gray{
  background-color: #EEEEEE;
}

.color-blue{
  background-color: #8888FF;
}